
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
body {
  font-family: 'Teko', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;  
}


#h1 {
    color:rgb(255, 255, 255); 
    position: absolute;
    top: -2%;
    left: 41%;
    font-size: 42px;
    font-family: 'Teko', sans-serif;
    
    
  }




  #img1 {
    position: absolute;
    top: 50%;
    left: 2%;
  }

